*{
    margin: auto;
    box-sizing: border-box;
    
}

header{
    background-color: #383E4C;
    height: 4rem;
}


.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 18px;
}

li{
    margin: 0%;
}

.nav-links a {
    margin: 0%;
    padding: 10px;
    color: white;
    text-decoration: none;
    border: 1px solid grey;
    font-family: 'Open Sans', sans-serif;
}

.Background_image{
    background-image: url(layout-01-assets/img11.jpg);

    max-width:210em;
    height: 700px;

    background-size: cover;
}

.Background_image > h{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 7px;
   
}

.Background_image > p{
    color: white;
    text-align: center;
    
    
}

.Box01,
.Box02,
.Box03,
.Box04,
.Box05{
    background-color: #f2f2f2;
    float: inline-start;
    margin-bottom: 30px;
    
}

.Box01{
    border: 1px solid grey;
    width: 360.5px;
    height: 300px;
}

.Box01 >h{
    color: green;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

.Box01 p{
    font-size: small;
}

.Box02{
    border: 1px solid grey;
    width: 360.5px;
    height: 300px;}

.Box02 >h{
    color: blue;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

.Box02>p{
    font-size: small;
}

.Box03{
    border: 1px solid grey;
    width: 360.5px;
    height: 300px;
}

.Box03>h{
    color: brown;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

.Box03>p{
    font-size: small;
}

.Box04{
    border: 1px solid grey;
    width: 555.5px;
    height: 500px;
}

.Box04>h{
    color: grey;
    text-align: center;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

.Box04>p{
    font-size: small;
}

.Box05{
    border: 1px solid grey;
    width: 555.5px;
    height: 500px;
}

.Box05>h{
    color: gray;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

.Box05>p{
    font-size: small;
}

.Box06{
    background-image: url(layout-01-assets/img13.jpg);
    background-size: cover;
    max-width: 210vh;
    height: 323px;
    padding-top: 115px;
    text-align: center;
}

.Box06 >h{
    color: white;
    font-size: xx-large;
    font-weight: 300;
    text-shadow: 20px;
    font-family: 'Roboto', sans-serif;
}

.Box06 >p{
    color: white;
    font-size: small;
    text-align: center;

}

.Box7,
.Box8,
.Box9,
.Box10{
    
}

.Box07{
    border: 1px solid grey;
    background-color: #f2f2f2;
    width: 262px;
    height: 600px;
}

.Box07 >h{
    color: grey;
    text-align: center;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

.Box07 >p{
    font-size: small;
}

.Box08{
    border: 1px solid grey;
    background-color: #f2f2f2;
    width: 262px;
    height: 600px;
}

.Box08 >h{
    color: gray;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

.Box08 >p{
    font-size: small;
}

.Box09{
    border: 1px solid grey;
    background-color: #f2f2f2;
    width: 262px;
    height: 600px;
}

.Box09 >h{
    color: gray;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

.Box09 >p{
    font-size: small;
}

.Box10{
    border: 1px solid grey;
    background-color: #f2f2f2;
    width: 262px;
    height: 600px;
}

.Box10 >h{
    color: gray;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

.Box10 >p{
    font-size: small;
}

.Box11{
    border: 1px solid grey;
    background-color: #f2f2f2;
    width: 57vw;
    height: 700px;
}

.Box11 >h{
    color: gray;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    background-size: 9px;
}
.Form{
    border: 1px solid rgb(0, 0, 0);
    background-image: url(layout-01-assets/img14.jpg);
    background-size: cover;
    max-width:210em;
    height: 500px;
}

.Form >h{
    display: flex;
    justify-content: center;
    color: white;
    font-size: x-large;
    text-shadow: 1px 1px black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2em;
}

.Form >p{
    border: 1px solid gray;
    width: 134px;
    text-align: center;
    background-color: #f2f2f2;
    opacity: 50%;
}

footer{
    background-color: #f2f2f2;
    color: grey;
    height: 9rem;
    text-align: center;
}

footer>h{
    font-size: xx-large;
    font-weight: 300;
    text-shadow: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

footer>p{
    font-size: smaller;
    text-align: center;
}

.Mark{
    float: right;
}